/* * {
    border: 1px solid red;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.topbutton {
    font-size: .7em;
    background-color: rgb(147, 204, 238);
    border: 2px solid rgb(71, 161, 210);
    border-radius: 5px;
    padding: 4px 6px;
    transition-property: all;
    transition-duration: 0.5s;
    text-decoration: none;
    color: black;
    font-family: Raleway;
}


.topbutton:hover {
    background-color: rgb(226, 93, 22);
    color: white;
    font-size: 0.75em;
}

#topbutton {
    display: flex;
    gap: 12px;
    list-style: none;
}


body {
    font-size: 32px;
    padding: 1em;
    width: 960px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, rgb(280, 196, 161) 30%, rgb(153, 234, 252) 100%);
}

/* Hello section with photo and resume button */
section.sectionone {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description {
display: flex;
flex-direction: column;
font-size: 0.7em;
width: 600px;
height: 10px;
position: relative;
top: -320px;
}

.worklink {
    display: inline-block;
    width: 120px;
    margin-top: 3%;
    text-align: center;
}


div {
    padding: 15px;
}

.status {
    font-size: .8em;
    line-height: 0.5em;
}


.profileimage {
    background-color: rgb(255, 115, 0);
    width: 300px;
    border-radius: 15px;
}

.badge {
    position: relative;
    top: -155px;
    left: 350px;
}

#resume,
#demoreel {
    font-family: verdana;
    text-align: center;
    color: #f0e4d9;
    border-radius: 17px;
    background-color: rgb(180, 82, 246);
    transition-property: all;
    transition-duration: 0.5s;
    padding: 5px 20px;
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(62, 42, 81, 0.6);
}

#resume:hover,
#demoreel:hover {
    background-color: rgb(255, 106, 0);
}

#demoreelbutton {
    border: 0;
    line-height: 2;
    padding: 5px 20px;
    font-size: 1.25em;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(69, 175, 204);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow:
        inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#demoreelbutton:hover {
    background-color: rgb(255, 106, 0);
}

/* Section Two */

.sectiontwo {
    font-size: 0.65em;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    top: 35px;
}

.softwaredev {
    border: 4px solid rgb(77, 168, 210);
    border-radius: 10px;

}

#trainingheader h2,
#trainingheader h4,
#trainingheader h5 {
    margin: 0;
}

#programmingtools {
    margin-left: auto;
    position: relative;
    right: 10px;
}

#programmingtoolsimage {
    border: 5px solid rgb(47, 139, 90);
    padding: 8px;
    border-radius: 10px;
}

.biography {
    border: 5px solid rgb(250, 137, 76);
    border-radius: 10px;
    flex: 1000px;
    font-size: 1.05em;
}

#celebration {
    display: none;
    font-size: 2em;
    color: green;
    text-align: center;
    margin-top: 20px;
}


/* section three : work experience */
.sectionthree {
    font-size: 0.65em;
    position: relative;
    top: 30px;
}

.workexperience {
    border: 5px solid rgb(180, 162, 218);
    border-radius: 10px;
}

#careerhighlights {
    display: flex;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: red;

}

#careerbutton {
    background-color: rgb(199, 68, 223);
    color: white;
    border-radius: 5px;
    width: 150px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

#careerbutton:hover {
    background-color: rgb(253, 145, 72);
    color: white;
}


.wetitlesection button, .wecompanysection button, .wecountrysection button {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
    padding: 10px;
    border: 3px solid rgb(202, 165, 245);
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

.wecontainer button:hover {
    background-color: #a83df0;
    color: white;
}

.wetitlesection,
.wecompanysection,
.wecountrysection {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.85em;
}


.wepopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.wepopup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}


.closebtn {
    display: block;
    margin-top: 20px;
    color: #888;
    cursor: pointer;
}


/* Section Four: games */

.sectionfour {
    font-size: 0.65em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    position: relative;
    top: 70px;
}

.codingfun {
    border: 5px solid rgb(253, 189, 14);
    border-radius: 10px;
    width: 100%;

}

.weathercontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d5effb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: medium;

}


#weathercity,
#weatherlondon {
    background-color: rgb(246, 207, 123);
    color: rgb(58, 57, 57);
    border-radius: 8px;
}

#localtime,
#londonlocaltime {
    background-color: rgb(178, 209, 234);
    color: rgb(48, 47, 40);
    border-radius: 8px;
}

#weathercondition,
#weatherlondoncondition {
    background-color: rgb(163, 210, 251);
    font-size: 1.3em;
    border-radius: 8px;
}

#weathericon,
#weatherlondonicon {
    background-color: rgb(76, 163, 250);
    border-radius: 8px;
}

h2 {
    margin-top: 0;
}


.game {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid rgb(227, 116, 212);
    border-radius: 10px;
    width: 90%;
    text-align: center;

}

#start-button {
    display: block;
    margin: 20px auto;
}

/* Education */

.sectionfive {
    font-size: 0.65em;
    position: relative;
    top: 110px;
}

.education {
    border: 5px solid rgb(85, 186, 122);
    border-radius: 10px;
    flex: 1000px;

/* Section two */

.sectiontwo {
    font-size: 0.65em;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    /* top: 35px; */
}

.softwaredev {
    border: 4px solid rgb(77, 168, 210);
    border-radius: 10px;

}

#trainingheader h2,
#trainingheader h4,
#trainingheader h5 {
    margin: 0;
}

#programmingtools {
    margin-left: auto;
    position: relative;
    right: 10px;
}

#programmingtoolsimage {
    border: 5px solid rgb(47, 139, 90);
    padding: 8px;
    border-radius: 10px;
}

.biography {
    border: 5px solid rgb(250, 137, 76);
    border-radius: 10px;
    flex: 1000px;
    font-size: 1.05em;
}

#celebration {
    display: none;
    font-size: 2em;
    color: green;
    text-align: center;
    margin-top: 20px;
}


/* Section three: work experience */

.sectionthree {
    font-size: 0.65em;
    position: relative;
    top: 30px;
}

.workexperience {
    border: 5px solid rgb(180, 162, 218);
    border-radius: 10px;
}

#careerhighlights {
    display: flex;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: rgb(26, 90, 96);

}

#careerbutton {
    background-color: rgb(26, 163, 129);
    color: white;
    border-radius: 5px;
    width: 150px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

#careerbutton:hover {
    background-color: rgb(253, 145, 72);
    color: white;
}

#clickmultipletimes {
    position: relative;
    top: -30px;
color: rgb(4, 28, 9);
}

.wetitlesection button, .wecompanysection button, .wecountrysection button {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
    padding: 10px;
    border: 3px solid rgb(202, 165, 245);
    color: black;
    border-radius: 8px;
    cursor: pointer;
}

.wecontainer button:hover {
    background-color: #a83df0;
    color: white;
}

.wetitlesection,
.wecompanysection,
.wecountrysection {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.85em;
}


.wepopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.wepopup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}


.closebtn {
    display: block;
    margin-top: 20px;
    color: #888;
    cursor: pointer;
}


.sectionfour {
    font-size: 0.65em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    position: relative;
    top: 70px;
}

.codingfun {
    border: 5px solid rgb(253, 189, 14);
    border-radius: 10px;
    width: 100%;

}

.weathercontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d5effb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: medium;

}


#weathercity,
#weatherlondon {
    background-color: rgb(246, 207, 123);
    color: rgb(58, 57, 57);
    border-radius: 8px;
}

#localtime,
#londonlocaltime {
    background-color: rgb(178, 209, 234);
    color: rgb(48, 47, 40);
    border-radius: 8px;
}

#weathercondition,
#weatherlondoncondition {
    background-color: rgb(163, 210, 251);
    font-size: 1.3em;
    border-radius: 8px;
}

#weathericon,
#weatherlondonicon {
    background-color: rgb(76, 163, 250);
    border-radius: 8px;
}

h2 {
    margin-top: 0;
}


.game {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid rgb(227, 116, 212);
    border-radius: 10px;
    width: 90%;
    text-align: center;

}

#start-button {
    display: block;
    margin: 20px auto;
}


/* Section five: Education */

.sectionfive {
    font-size: 0.65em;
    position: relative;
    top: 110px;
}

.education {
    border: 5px solid rgb(85, 186, 122);
    border-radius: 10px;
    flex: 1000px;

}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

th {
    background-color: rgb(118, 209, 163);
}

td {
    font-size: .9em;
}

footer {
    font-size: .5em;
    position: relative;
    top: 130px;
}

@media screen and (max-width: 600px) {

    /* #topbutton {
        flex-direction: column;
        gap: 0px;
    } */
}
